// =====================================
// BASE RULES
// =====================================


// A Base rule is applied to an element using an element selector, a descendent selector,
// or a child selector, along with any pseudo-classes.
// It doesn't include any class or ID selectors.
// It is defining the default styling for how that element should look in all occurrences on the page.

html  {
  font-size: 100%;
  background-color: $htmlBg;
}
body {
  line-height: 1.5;
  color: $fontColor;
  font-size: 0.875em;
  font-family: $mainFont;
  background-color: $bodyBg;
}
h1,h2,h3,h4,h5,h6 { color: $headingColor; font-family: $headingFont; }
h1 { margin-top: 0; }
h3 { margin-bottom: 0.5em; }
h4,h5,h6 { margin-bottom: 0; }
h3 + p, h4 + p, h5 + p, h6 + p { margin-top: 0; }
a {
  text-decoration: none;
  @include transition-duration(0.1s);
  @include transition-property(color);
  @include transition-timing-function(linear);
  @include link-colors($normal, $hover, $active, $visited, $focus);
}
strong, b {
  font-family: $boldFont;
}
em, i {
  font-family: $italicFont;
}
code { background-color: $lighterGrey; }
pre code { background-color: transparent; }
.screen-reader-text, .ir { @include squish-text; }
img { max-width: 100%; height: auto; }

blockquote {
  margin-left: 0;
  font-size: 1.3em;
  padding-left: 1em;
  color: $fontColor;
  border-left: 0.3em solid lighten($fontColor,50%);
}
dt { font-weight: bold; }
dd { margin-bottom: 1em; }

// Tables
table {
  width: 100%;
  color: $tableFontColor;
  background-color: $tableBg;
  border: 0.1em solid $tableBorderColor;

  caption { font-weight: bold; }
  thead {
    text-align: left;
    text-align: center;
    background-color: darken($tableBg, 15%);

    th { border-color: $tableBorderColor; }
  }
  th,td { padding: 0.5em; border: 0.1em solid $tableBorderColor; }
  td { text-align: left; }

  th[scope="row"] { font-weight: normal; }
  th[scope="rowgroup"] { vertical-align: middle; }
  th[scope="row"],
  th[scope="rowgroup"] { text-align: left; }

  tbody tr:nth-of-type(even) {
    background-color: darken($tableBg, 3%);
  }
  tfoot {
    font-size: 75%;
    color: $tableFontColor;
    background-color: darken($tableBg, 15%);

    td { text-align: center; }
  }
}
