// =====================================
// LAYOUT RULES
// =====================================

// CSS, by its very nature, is used to lay elements out on the page.
// However, there is a distinction between layouts dictating the major and minor components of a page.
// The minor components such as a callout, or login form, or a navigation item sit within the scope of major components such as a header or footer.

* {
  @include box-sizing(border-box);
}
.container {
  padding: 0 1.5em;
}
header[role="banner"] {
  background-color: $headerBg;
}
footer[role="contentinfo"] {
  padding: 1em;
  background-color: $footerBg;
  border-top: 0.1em solid darken($footerBg, 5%);
}