// =====================================
// MODULE RULES
// =====================================

// A Module is a more discrete component of the page.
// It is your navigation bars and your carousels and your dialogues and your widgets and so on.
// This is the meat of the page.
// Modules sit inside Layout components.
// Modules can sometimes sit within other Modules, too.
// Each Module should be designed to exist as a standalone component.

header[role="banner"] {
  background: $mainColor;
  margin: 0;
  padding: 0;
  @include clearfix;
  top: 0;
  width: 100%;
  z-index: 2;
  h1 {
    margin-bottom: 0;
    color: #fff;
    line-height: 60px;
    height: 50px;
    float: left;
    text-align: center;
    width: 100%;
    small {
      display: none;
      font-size: 50%;
    }
  }
  p {
    margin: 0;
    color: $statamicTan;
    }
  nav {
    float: right;
    width: 100%;
    text-align: center;
    display: block;
    a {
      line-height: 40px;
      color: #fff;
      padding: 0 1.5em;
      display: inline-block;
      &:hover { cursor: pointer; }
      &[title="tags"].active, &[title="tags"]:hover { background: lighten($mainColor,10%); }
      &[title="fieldtypes"].active, &[title="fieldtypes"]:hover { background: lighten($statamicGreen,10%); }
      &[title="reference"].active, &[title="reference"]:hover { background: lighten($statamicPlumb,10%); }
    }
  }
}

[role="main"] {
  margin: 0 auto;
  h1 {
    padding-top: 40px;
    display: block;
    text-align: center;
  }
}


.blocks {
  padding: .5em 0 0;
  overflow: visible;
  @include column-count(1);
  @include column-gap(1.5em);
  > section {
    @include column-break-inside(avoid);
    @include box-shadow(3px 3px 0px rgba(#000,0.05));
    margin-right: 3px;
    display: inline-block;
    width: 99%;
    background: #fff;
    margin-bottom: 1.5em;
    h2, h3 {
      margin: 0;
      padding: 0 0 0 12px;
      }
    h2 {
      color: $statamicTan;
      margin: 0;
      letter-spacing: 0.1em;
      line-height: 2.25;
      font-size: 1em;
      text-shadow: 0 -1px 0 #000;
      }
    a:hover h2 { color: #fff; }
    h3 {
      font-size: .65em;
      text-transform: uppercase;
      color: lighten($mainColor,35%);
      background: lighten($mainColor,65%);
      letter-spacing: 0.2em;
      line-height: 2;
      font-weight: bold;
      }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      border-top: 1px solid $statamicTan;
      }
    li {
      padding: 0 0 0 12px;
      line-height: 2;
      font-size: .85em;
      border-bottom: 1px solid $statamicTan;
      position: relative;
      a {
        color: $fontColor;
        &:hover {
          color: darken($fontColor,15%);
          text-decoration: underline;
          }
        }
      }
    a.trigger {
      float: right;
      display: block;
      padding: 0 .5em;
      background: lighten($mainColor,65%);
      color: #fff;
      background: $mainColor;
      }
    ul ul {
      display: block;
      background: $mainColor;
      padding: 12px;
      margin-left: -12px;
      position: absolute;
      top: 2em;
      z-index: 1;
      width: 100%;
      border-top: 0px;
      li {
        display: inline-block;
        border: none;
        background: darken($mainColor,10%);
        padding-right: 12px;
        font-size: 13px;
        margin: 0 2px 2px 0;
        color: $statamicTan;
        a {
          color: $statamicTan;
          &:hover { color: #fff;} }
        }
      }
    li.close-block {
      a.trigger { background: lighten($mainColor,65%); }
      ul { display: none; }
      }
    }
  }

.blocks-tags { h2 { background-color: $mainColor; } }
.blocks-fieldtypes { h2 { background-color: $statamicGreen; } }
.blocks-reference { h2 { background-color: $statamicPlumb; } }

.area {
  padding: 0 0 2em;
  border-bottom: 1px solid darken($statamicTan,10%);
  @include clearfix;
}