// ===============================================
// All variables to be used in your theme go here.
// ===============================================

// ===================
// COLOURS
// ===================

// greyscale

$black        :  rgb(0, 0, 0);
$darkGrey     :  lighten($black, 25%);
$grey         :  lighten($black, 50%);
$lightGrey    :  lighten($black, 75%);
$lighterGrey  :  lighten($black, 90%);
$white        :  rgb(255, 255, 255);
$statamicTan  :  #f5f4ee;
$statamicGreen  : #364539;
$statamicPlumb  : #403645;


// site colours

$mainColor    :  rgb(53, 65, 68);
$compColor    :  rgb(250, 82, 42);
$bodyBg       :  #f5f4ee;
$htmlBg       :  rgb(236, 240, 241);
$fontColor    :  #807f79;
$headingColor :  #222222;
$borderColor  :  $lightGrey;
$callColor    :  rgb(39, 174, 96);

// links

$normal       :  $compColor;
$hover        :  darken($compColor, 15%);
$active       :  darken($compColor, 15%);
$visited      :  $normal;
$focus        :  darken($compColor, 15%);

// tables
$tableBg          :  $white;
$tableBorderColor :  $grey;
$tableFontColor   :  $fontColor;


// header,footer & nav
$headerBg         : rgb(245, 244, 238);
$footerBg         : rgb(245, 244, 238);
$navNormal        : $grey;
$navHover         : lighten($navNormal, 10%);
$navActive        : lighten($navNormal, 10%);
$navVisited       : $navNormal;
$navFocus         : $navHover;

// ===================
// FONTS
// ===================

$mainFont     :  'Oxygen', sans-serif;
$headingFont  :  'Oxygen', sans-serif;
$italicFont   :  $mainFont;
$boldFont     :  $mainFont;